modules = ["nodejs-20", "web", "bash"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
OMNIPAY_API_KEY = "omnipay_api_key_07eee5343c379e1f296b760d11a0d2c4b913cd98"
OMNIPAY_CALLBACK_KEY = "omnipay_ck_c2140d316db2ba922e7aa76f6131ec2ca37cec6b"
TELEGRAM_BOT_TOKEN = "8275119458:AAEBoT5CLb8dAURo29yysQ5CA3wCSXMGeSE"
SUPABASE_DATABASE_URL = "postgresql://postgres.upmpugfczbduuytivlyq:JsaIVs3k9hkqbnsA@aws-1-eu-west-1.pooler.supabase.com:6543/postgres"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwbXB1Z2ZjemJkdXV5dGl2bHlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5NTk1MTgsImV4cCI6MjA4ODUzNTUxOH0.0fvOwpOgmHJjlf2cJ51k6er72J2RRR0Z0aevq_FqtCw"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[agent]
stack = "FULLSTACK_JS"
