modules = ["nodejs-20", "web", "bash"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
PORT = "5000"
NODE_ENV = "development"
XOF_PER_USD = "600"
APP_URL = "https://west-pay-aggregator-1--beryowone.replit.app"
TELEGRAM_API_ID = "36887606"
TELEGRAM_ADMIN_GROUP_ID = "-1003802528942"
TELEGRAM_API_HASH = "5fbf4783ed072583afe4161f7b38ac7c"
TELEGRAM_BOT_TOKEN = "8275119458:AAEBoT5CLb8dAURo29yysQ5CA3wCSXMGeSE"
TELEGRAM_OTP_BOT_TOKEN = "8904995228:AAGyiD7ENwGtKG1gfNJkvThKBWbQaw0xWf4"
SENDAVAPAY_API_KEY = "sdk_ohxH8aNP7ZGeHwcsRb2W7CKUZTRHBPZT"
SENDAVAPAY_WEBHOOK_SECRET = "whsec_8e09e29347a425b1e5e44a3d23a5570e6711a49de896166f"
CUSTOM_DATABASE_URL = "postgresql://postgres.bauubqsgtuoxxsufqklp:cotedivoire228@aws-1-us-west-2.pooler.supabase.com:5432/postgres"
OPENAI_API_KEY = "W3FfiUn46LWll5H8"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[agent]
stack = "FULLSTACK_JS"
expertMode = true
